body {
    margin: 0;
    padding: 0;
    height: 300px;
    width: 250px;
    background-color: #c0d4fc;
    font-family: 'Gudea', sans-serif;
    font-size: 12px;
  }

  #container {

  }

  /* STYLES HEADER AND BLURB */

  h1 {
    padding: 5px;
    text-align: center;
    font-size: 1.25rem;
    background-color: #f8827c;
    box-shadow: 0px 3px 3px -1px grey;
  }

  #blurb {
    width: 85%;
    font-size: 0.75rem;
    text-align: center;
    margin: 8px auto 10px auto;
    padding: 0;
    padding-bottom: 13.8px;
    border-bottom: 1px solid grey;
  }

  /* STYLES FORM */

  #form {
    width: 85%;
    margin: 5px auto 18px auto;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
  }

  h6 {
    font-size: 0.8rem;
    margin: 0;
    display: inline-block;
    margin-bottom: 4px;
  }

  /* select {
    margin-bottom: 5px;
    font-family: 'Gudea', sans-serif;
  } */

  input {
    font-family: 'Gudea', sans-serif;
    width: 145px;
    box-sizing: border-box;
    border: 2px #1e296e solid;
    border-radius: 2px;
  }

  button {
    border: 2px #1e296e solid;
    border-radius: 2px;
    font-family: 'Gudea', sans-serif;
    float: right;
    transition: color 0.1s,
                background-color 0.1s;
    transition-timing-function: ease-in-out;
  }

  button:hover {
    color: white;
    background-color: #e99a86;
  }

  /* STYLES RESULTS */

  #result {
    overflow: auto;
    height: 350px;
    background-color: #aaced4;
    box-shadow: 0px -3px 3px -1px grey;
    padding-left: 18.75px;
    padding-right: 18.75px;
  }

  h2 {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }

  h4 {
    padding-top: 3px;
    font-size: 0.7rem;
    margin: 0;
    text-align: center;
  }

  .packageStatus {
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .eventOuterContainer {
    padding-top: 12px;
  }

  #arrow {
    display: inline-block;
    width: 15%;
    height: 100%;
    margin-right: 4%;
    background-image: url(../assets/upArrow.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .eventContainer {
    display: inline-block;
    width: 81%;
  }

  .transitEvents::before {
    content: '';
    display: block;
    height: 2px;
    width: 10%;
    background-color: #1e296e;
  }

  .transitEvents {
    margin-top: 0;
  }
